@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap);

body,
form {
    display: flex
}

body,
input {
    font-size: 1rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Poppins, sans-serif;
    color: #fff;
    font-weight: 500;
    line-height: 1rem;
    min-height: 100vh;
    background: linear-gradient(rgba(232, 130, 131, .6), rgba(238, 211, 137, .6)) 0 0/cover, url("https://flawless.org/media/uploads/2019/11/20/lose-weight-healthily_MGYW9Y5.jpg") center/cover no-repeat;
    justify-content: center;
    align-items: center
}

h2,
p {
    font-weight: 600;
    text-align: center
}

form {
    background: rgba(223, 40, 40, 0.438);
    padding: 1rem;
    border-radius: 10px;
    flex-direction: column;
    gap: .5rem
}

h2 {
    margin-bottom: 1rem
}

input {
    width: 300px;
    padding: .7rem;
    border-radius: 5px;
    border: 2px solid transparent;
    caret-color: #02AAB0;
    outline: 0;
    color: #02aab0
}

input:focus {
    border-color: #02aab0
}

button {
    background-image: linear-gradient(to right, #391dd6 0, #85cd00 51%, #9b265c 100%);
    margin: 10px 0;
    padding: 15px 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    border-radius: 10px;
    display: block;
    border: none;
    cursor: pointer
}

button:hover {
    background-position: right;
    color: #fff;
    text-decoration: none
}

p {
    height: 1rem;
    margin: .3rem 0
}

span {
    color: #00cdac
}